*{
    padding: 0;margin: 0;
}

body{
    background : linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

}

#display{
    width: 470px;
    height: 100px;
    margin-top:20px;
    display: grid;
    margin: 20px auto;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 12px 2px black;
    color: black;
    font-size: 50px;
    padding-right: 30px;
    box-sizing: border-box;
    text-align:end;

    
}

#calc{
    height:87vh;
    width: 500px;
    border: 0.5px solid black;
    margin:auto;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    border-radius: 68px;
    margin-top:45px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none ;
    font-size: 50px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 12px 2px black;
    background-color: hsl(309, 100%, 91%)
    /* transition: transform 1s ease-out; */
}

button:hover{
    box-shadow: 1px 1px 20px 2px black;
    background-color: hsl(309, 100%, 80%)

}

button:active{
    background-color: hsl(309, 100%, 70%)


}

.operator-btn{
    background-color: hsl(67, 100%, 71%)

}
.operator-btn:hover{
    background-color: hsl(67, 100%, 51%)
}

.operator-btn:active{
    background-color: hsl(67, 100%, 45%)
}

.operator-btn > i {
    transform: scale(0.6);
}



